<!DOCTYPE html>
<html>
<head>
  <title>AssamSchool</title>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= javascript_include_tag('application') %>
</head>
<body style="
    background-color: #fff; padding-left: 5%; padding-right: 5%;">
<% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
 <% end %>
<p>
An image as a link: 
<img border="0" alt="W3Schools" src="/img/logo.png" >

</p>
<%= yield %>

</body>
</html>
